body {
	background: #ffffff none repeat scroll 0 0;
    color: #7a7a7a;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}
html,
body { 
	height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #5957cd;
}
p {
	color:#7a7a7a;
	margin-bottom:30px;
}
a {
	color: #dca044;
	text-decoration: none;
	-webkit-transition: all 0.5s ease;
	transition: all .5s ease;
}
a:hover {
	color: #ff69c9;
	text-decoration: none;
	transition: all .5s ease;
}
a:focus {
	outline: none;
	text-decoration: none;
}
img {
	max-width: 100%;
}
ul,
li {
	margin: 0;
	padding: 0;
}
::-webkit-input-placeholder {
	color: #7a7a7a;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
:-moz-placeholder {
	color: #7a7a7a;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
::-moz-placeholder {
	color: #7a7a7a;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
:-ms-input-placeholder {
	color: #7a7a7a;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
.form-control:focus {
	box-shadow: none;
}
fieldset {
	border: 0 none;
	margin: 0 auto;
	padding: 0;
}
section {
	padding: 100px 0;
	position:relative;
}
.no-padding { 
	padding: 0
}
section.small_pt {
	padding-top: 50px;
}
section.small_pb {
	padding-bottom: 50px;
}
.lg_pt_20 {
	padding-top: 20px;
}
.lg_pt_30 {
	padding-top: 30px;
}
.lg_pt_40 {
	padding-top: 40px;
}
.lg_pt_50 {
	padding-top: 50px;
}
.lg_pb_20 {
	padding-bottom: 20px;
}
.lg_pb_30 {
	padding-bottom: 30px;
}
.lg_pb_40 {
	padding-bottom: 40px;
}
.lg_pb_50 {
	padding-bottom: 50px;
}
.list_none li {
	list-style:none;
}
input {
	border: 0;
	padding: 10px 20px;
	width: 100%;
}
button {
	/*background-image: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 99%);
	background-image: linear-gradient(to right, #ff67cb 0%,#ffcc67 99%);*/
	background: transparent !important;
	border: 1px solid #fff !important;
	border-radius: 40px;
	color: #ffffff;
	cursor: pointer;
	padding: 10px 20px;
	text-transform: uppercase;
	transition: all 0.5s ease 0s;
}
button:hover {
	color:#fff;
}
button:focus {
	outline:none;
}
.overflow_hide {
	overflow: hidden;
}
.title_default_light h4, 
.title_default_dark h4{
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 30px;
	text-transform: capitalize;
}
.title_default_light h4,
.title_default_light p {
	color:#fff;
}
.title_blue_dark h4{
	color: #0043bb;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 30px;
}
.title_dark h4 {
	color: #0c0e27;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 30px;
}
.title_purple_dark h4 {
	color: #6000b5;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 20px;
}
.title_cyan_dark h4 {
	color: #0e082c;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 20px;
}
.title_border h4 {
	padding-bottom: 15px;
	position: relative;
}
.title_blue_dark.title_border h4::before {
	background-color: #0043bb;
}
.title_cyan_dark.title_border h4::before {
	background-color: #280e3b;
}
.title_purple_dark.title_border h4::before {
	background-color: #0e082c;
}
.title_dark.title_border h4::before {
	background-color: #0c0e27;
}
.title_border h4::before {
	background-color: #5957cd;
	bottom: 0;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	right: 0;
	width: 80px;
}
.title_border.text-center h4::before {
	margin:0 auto;
}
.title_default_light.title_border h4::before {
	background-color: #fff;
}
.divider {
	clear:both;
	display:block;
	height:20px;
}
.background_bg {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.transparent_bg {
	background-color: rgba(0, 0, 0, 0) !important;
}
.box_shadow_none {
	box-shadow: none !important;
}
.bg_light {
	background-color: #f7fafc;
}
.bg_blue_dark {
	background-color :#0b267d;
}
.bg_light_dark {
	background-color: #121833;
}
.bg_light_dark_blue {
	background-color: #161d3e;
}

.bg_black{
	background:#000; 
}
.bg_grey{
	
	border: 1px solid #3c352cad;
	background-color: #16181d;
	border-radius: 10px;
}
.bg_gold{
	background:#bd8439 !important; 
	color: #fff;
}
.bg_black-shade{
    background: #000;
    padding: 10px 0;
    border-radius: 10px;
    border: 1px solid #633800;
    box-shadow: 0 1px 15px #67450c;
}
.bg_black_dark,
.v_dark {
	background-color :#0c0e27;
}
.blue_light_bg,
.v_blue_pro {
	background-color: #5957cd;
}
.light_blue_dark_bg {
	background-color: #4a49bf;
}
.blue_lightdark_bg {
	background-color: #4241b8;
}
.bg_gray {
	background-color: #f1f1f1;
}
.bg_gray2 {
	background-color: #f8f8ff;
}
.bg_gray3 {
	background-color: #fbfaff;
}
.bg_gray4 {
	background-color: #f7f7f7;
}
.pink_bg {
	background-color: #ff68ca;
}
.yellow_bg {
	background-color: #ffca69;
}
.blue_bg,
.v_royal_blue {
	background-color: #02102bee;
}
.blue_dark_bg {
	background-color: #081990;
}
.purple_bg {
	background-color: #6000b5;
}
.purple_dark_bg {
	background-color: #3e1084;
}
.large_divider {
	height:100px;
}
.small_divider {
	height:50px;
}
.small_space {
	margin-top:20px;
}
.large_space {
	margin-top: 50px;
}
.small_text * {
    font-size: 14px;
}
.container,
.container-fluid {
    position: relative;
    z-index: 5;
}
.gradient_box {
	background: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 99%) !important;
	background: linear-gradient(to right, #ff67cb 0%,#ffcc67 99%) !important;
}
.gradient_box2 {
	background: -moz-linear-gradient(180deg, rgba(25,61,192,1) 0%, rgba(10,29,149,1) 50%, rgba(25,61,192,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(25,61,192,1)), color-stop(50%, rgba(10,29,149,1)), color-stop(100%, rgba(25,61,192,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(180deg, rgba(25,61,192,1) 0%, rgba(10,29,149,1) 50%, rgba(25,61,192,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(180deg, rgba(25,61,192,1) 0%, rgba(10,29,149,1) 50%, rgba(25,61,192,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(180deg, rgba(25,61,192,1) 0%, rgba(10,29,149,1) 50%, rgba(25,61,192,1) 100%); /* ie10+ */
	background: linear-gradient(270deg, rgba(25,61,192,1) 0%, rgba(10,29,149,1) 50%, rgba(25,61,192,1) 100%); /* w3c */ 
}
.section_gradiant {
	background: -webkit-linear-gradient(to bottom, rgba(32,18,111,1) 0%,rgba(5,45,133,1) 100%);
	background-image: linear-gradient(to bottom, rgba(32,18,111,1) 0%,rgba(5,45,133,1) 100%);
}
.section_gradiant2 {
	background-image: -webkit-linear-gradient(left, #6000b5 0%,#3e2a9c 99%);
	background-image: linear-gradient(to right, #6000b5 0%,#3e2a9c 99%);
}
.section_gradiant3 {
	background-image: -webkit-linear-gradient(left, #193f88 0%,#0e082c 99%);
	background-image: linear-gradient(to right, #193f88 0%,#0e082c 99%);
}
.v_blue,
.bg_navy_blue {
	background-color: #052d85;
}
.bg_navy_blue_dark {
	background-color: #121a6d;
}
.v_blue .title_default_dark.title_border h4::before {
	background-color: #0a257c;
}
.v_blue .title_default_dark h4 {
	color: #0a257c;
}

/*START LOADER DESIGN*/
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-left: -100px;
	-ms-transform: rotate(-135deg); 
	-moz-transform: rotate(-135deg); 
   	-webkit-transform: rotate(-135deg); 
    transform: rotate(-135deg);
	z-index: 1001;
}
.object{
	-moz-border-radius: 50% 50% 50% 50%;
	-webkit-border-radius: 50% 50% 50% 50%;
	border-radius: 50% 50% 50% 50%;
	position: absolute;
	border-top: 5px solid #FFF;
	border-bottom: 5px solid transparent;
	border-left:  5px solid #FFF;
	border-right: 5px solid transparent;
	-webkit-animation: animate 2s infinite;
	animation: animate 2s infinite;	
}
#object_one{
	left: 75px;
	top: 75px;
	width: 50px;
	height: 50px;
}
#object_two{
	left: 65px;
	top: 65px;
	width: 70px;
	height: 70px;
	-webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#object_three{
	left: 55px;
	top: 55px;
	width: 90px;
	height: 90px;
	-webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
#object_four{
	left: 45px;
	top: 45px;
	width: 110px;
	height: 110px;
	-webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}	

@-webkit-keyframes animate {
 
50% {
	-ms-transform: rotate(360deg) scale(0.8); 
	-moz-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }
}

@keyframes animate {
	
50% {
	-ms-transform: rotate(360deg) scale(0.8); 
	-moz-transform: rotate(360deg) scale(0.8); 
   	-webkit-transform: rotate(360deg) scale(0.8); 
    transform: rotate(360deg) scale(0.8); 
  }	
}
#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background-color: #DCA044;
	z-index: 999;
	-webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
	-moz-transform: translateX(0); 
	-ms-transform: translateX(0);  /* IE 9 */
	transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
	left: 0;
}
#loader-wrapper .loader-section.section-right {
	right: 0;
}
.loaded #loading-center-absolute {
	opacity: 0;
	visibility:hidden;
	-webkit-transition: all 0.3s ease-out;  
	transition: all 0.3s ease-out;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
	-webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);  /* IE 9 */
	transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
	-webkit-transition: all 0.8s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
	transition: all 0.8s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper .loader-section.section-right {
	-webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateX(100%);  /* IE 9 */
	-moz-transform: translateX(100%);
	transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
	-webkit-transition: all 0.8s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
	transition: all 0.8s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader-wrapper {
	visibility: hidden;
	-webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: translateY(-100%);  /* IE 9 */
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
	-webkit-transition: all 0.5s 1s ease-out;  
	transition: all 0.3s 1s ease-out;
}

.v_blue #loader-wrapper .loader-section,
.v_navy_blue #loader-wrapper .loader-section {
	background-color: #121a6d;
}
.v_dark #loader-wrapper .loader-section,
.v_light_dark #loader-wrapper .loader-section {
	background-color: #030307;
}
.v_blue_light #loader-wrapper .loader-section,
.v_royal_blue #loader-wrapper .loader-section {
	background-color: #DCA044;
}
.v_light_purple #loader-wrapper .loader-section {
	background-color: #4e0094;
}
.v_cyan_blue #loader-wrapper .loader-section,
.v_cyan_blue .spop {
	background-color: #0e082c;
}

/*END PRELOADER DESIGN*/

/* THEME DEMO CSS*/
.color-switch {
    background: #212121;
	right: -200px;
	padding: 20px 0;
	position: absolute;
	top: 0;
    transition: all .4s ease 0s;
	width: 200px;
    z-index: 9999999;
}
.color-switch p {
	color: #ffffff;
	margin: 0;
	padding: 10px 15px 5px;
}
.color_box {
	padding:0px 15px;
}
.switch-active {
    right: 0;
}
.demo ul {
	position: fixed;
	right: 0px;
	top: 35%;
	z-index:9999;
}
.demo ul li {
	position:relative;
}
.demo li a {
	background: #212121;
	color: #ffffff;
	display: block;
	font-size: 24px;
	line-height: 44px;
	text-align: center;
	transition: all .4s ease 0s;
	padding: 10px;
}
.demo li a.bg-green {
	background-color: transparent;
    border: 1px solid #f57513;
    color: #fba700;
}
.demo li a.dm {
	background-color: transparent;
    border: 1px solid #f57513;
    color: #fba700;
}
.demo .txt {
	/*background-color: #018DF1;*/
	font-size: 40px;
	background-color: transparent;
    border: 1px solid #f57513;
    color: #fba700;
}
.demo li a i {
	line-height: normal;
	-webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.icon {
	right: 0;
	position: absolute;
	top:0;
}
.icon.switch-active {
	right: 200px;
}
.menu_link {
	left: 0;
	position: fixed;
	top: 30%;
	z-index: 99;
}
.menu_link a {
	color:#fff;
	padding:10px;
}
.color-switch button::after {
	color: #ffffff;
	content: "\f122";
	font-family: "Ionicons";
	font-size: 14px;
	opacity: 0;
}
.color-switch button {
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	height: 24px;
	line-height: 24px;
	margin: 7px 0px 0 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 24px;
}
.color-switch .active::after {
    opacity: 1;
}
.default {
	background-image: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 99%);
	background-image: linear-gradient(to right, #ff67cb 0%,#ffcc67 99%);
}
.green {
	background-image: -webkit-linear-gradient(left, #40f8a6 0%,#43B1FB 99%);
	background-image: linear-gradient(to right, #40f8a6 0%,#43B1FB 99%);
}
.orange {
	background-image: -webkit-linear-gradient(left, #f46b45 0%, #eea849 99%);
	background-image: linear-gradient(to right, #f46b45 0%, #eea849 99%);
}
.lightgreen {
	background-image: -webkit-linear-gradient(left, #de934b 0%, #56d6a7 99%);
	background-image: linear-gradient(to right, #de934b 0%, #56d6a7 99%);
}
.redpink {
	background-image: -webkit-linear-gradient(left, #FC3465 0%, #C300D8 99%);
	background-image: linear-gradient(to right, #FC3465 0%, #C300D8 99%);
}
.lightpurple {
	background-image: -webkit-linear-gradient(left, #25cc9c 0%,#9e50e4 99%);
	background-image: linear-gradient(to right, #25cc9c 0%,#9e50e4 99%);
}

/* BTN START */
.btn {
	border: 0 none;
	border-radius: 5px;
	font-size: 16px;
	font-weight:500;
	height: 54px;
	line-height: 54px;
	padding: 0 25px;
	position: relative;
	text-transform: uppercase;
	vertical-align: middle;
}
.btn.btn-radius {
	border-radius: 40px;
}
.btn span {
	background: #5957cd none repeat scroll 0 0;
	border-radius: 100%;
	color: #ffffff;
	display: inline-block;
	font-size: 20px;
	height: 35px;
	line-height: 38px;
	margin-left: -20px;
	margin-right: 13px;
	padding-left: 2px;
	position:relative;
	text-align: center;
	transition: all 0.5s ease 0s;
	vertical-align: middle;
	width: 35px;
}
.btn span::after {
	 -webkit-animation: rounded 2.5s infinite ;
    -moz-animation: rounded 2.5s infinite ;
    -o-animation: rounded 2.5s infinite ;

	animation: rounded 2.5s infinite ;
	border: 1px solid #5957cd;
	border-radius: 100%;
	bottom: -5px;
	content: "";
	display: block;
	left: -5px;
	opacity: 0;
	position: absolute;
	right: -5px;
	top: -5px;
	z-index:-1;
}
.btn span::after {
	animation-delay: 0.8s
}
.btn.btn-lg {
	padding: 0 40px;
}
@keyframes rounded {
0%
{
	opacity:0;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}
50%
{
	opacity:1;
}
100%
{
	opacity:0;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	transform: scale(1.2);
}
}
.btn em {
	display: inline-block;
	font-size: 24px;
	line-height: 24px;
	margin-right: 10px;
	vertical-align: middle;
}
.btn.active.focus, 
.btn.active:focus, 
.btn.active:hover, 
.btn:active:focus, 
.btn:active:hover,
.btn.active,
.btn:active,
.btn.focus:active, 
.btn:focus,
.btn.active:not(:disabled):not(.disabled), 
.btn:active:not(:disabled):not(.disabled) {
	background-image: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 51%,#ff67cb);
	background-image: linear-gradient(to right, #ff67cb 0%,#ffcc67 51%,#ff67cb);
	box-shadow:none;
	outline:none;
}
.btn-default {
	background-size: 200% auto;
	background-image: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 51%,#ff67cb);
	background-image: linear-gradient(to right, #ff67cb 0%,#ffcc67 51%,#ff67cb);
	border: 0;
	color: #fff;
	outline:none;
	text-transform:uppercase;
	z-index:2;
	transition: all 0.5s ease 0s;
}
.btn-default:hover {
	background-position: right center; 
}
.btn-default:hover,.btn-border:hover {
	color:#fff;
}
.btn-default.active.focus, 
.btn-default.active:focus, 
.btn-default.active:hover, 
.btn-default:active:focus, 
.btn-default:active:hover,
.btn-default.active,
.btn-default:active,
.btn-default.focus:active, 
.btn-default:focus,
.btn.active:not(:disabled):not(.disabled), 
.btn:active:not(:disabled):not(.disabled) {
	background-image: -webkit-linear-gradient(left, #ffcc67 0%,#ff67cb 51%,#ffcc67);
	background-image: linear-gradient(to right, #ffcc67 0%,#ff67cb 51%,#ffcc67);
	box-shadow:none;
	color: #fff;
	outline:none;
}
.btn-border {
	background-image: -webkit-linear-gradient(left, #ffcc67 0%,#ff67cb 99%);
	background-image: linear-gradient(to right, #ffcc67 0%,#ff67cb 99%);
	border: 0;
	color: #fff;
	outline:none;
	text-transform:uppercase;
	z-index:2;
}
.btn-border::after {
	background-color: #5957cd;
	border-radius: 5px;
	bottom: 0;
	content: "";
	left: 0;
	margin: 2px;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.5s ease 0s;
	z-index: -1;
}
.btn-border.btn-white-bg::after {
	background-color: #fff;
}
.btn-border.btn-white-bg {
	color: #5957cd;
}
.btn-border.btn-white-bg:hover,
.btn-border.btn-white-bg:focus {
	color: #fff;
}
.btn-border.btn-radius::after {
	border-radius: 40px;
}
.btn-border:hover:after,
.btn-border:focus:after {
	opacity :0;
}
.btn.btn-border:hover,
.btn.btn-border.active.focus, 
.btn.btn-border.active:focus, 
.btn.btn-border.active:hover, 
.btn.btn-border:active:focus, 
.btn.btn-border:active:hover, 
.btn.btn-border.active, 
.btn.btn-border:active, 
.btn.btn-border.focus:active, 
.btn.btn-border:focus {
	background-image: -webkit-linear-gradient(left, #ffcc67 0%,#ff67cb 99%);
	background-image: linear-gradient(to right, #ffcc67 0%,#ff67cb 99%);
}

.btn i {
	font-size: 30px;
	line-height: 24px;
	margin-left: 5px;
	padding-top: 4px;
	vertical-align: middle;
}
.btn i.fa {
	font-size: 16px;
	margin-left: 0;
	margin-right: 10px;
	margin-top: -2px;
	padding: 0;
}
.btn-primary {
	background: rgba(0, 0, 0, 0);
	color: #5957cd;
	-moz-transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.btn-primary:hover,
.btn-primary.active.focus, 
.btn-primary.active:focus, 
.btn-primary.active:hover, 
.btn-primary:active:focus, 
.btn-primary:active:hover,
.btn-primary.active,
.btn-primary:active,
.btn-primary.focus:active, 
.btn-primary:focus,
.btn-primary.active:focus:not(:disabled):not(.disabled), 
.btn-primary:active:focus:not(:disabled):not(.disabled),
.btn-primary.active:not(:disabled):not(.disabled), 
.btn-primary:active:not(:disabled):not(.disabled) {
	background: rgba(0, 0, 0, 0) !important;
	box-shadow :none;
	color: #5957cd;
	padding-left: 30px;
}
.btn-info {
	background: #5957cd none repeat scroll 0 0;
	height: auto;
	line-height: normal;
	padding: 12px 30px;
}
.btn-info:hover,
.btn-info.active,
.btn-info:focus,
.btn-info.active:not(:disabled):not(.disabled),
.btn-info:active:not(:disabled):not(.disabled),
.btn-info.active:focus:not(:disabled):not(.disabled), 
.btn-info:active:focus:not(:disabled):not(.disabled) {
	background: #4241b8;
	box-shadow: none;
}
.box_shadow,
.box_shadow:hover,
.box_shadow.active,
.box_shadow:focus,
.box_shadow.active:focus:not(:disabled):not(.disabled), 
.box_shadow:active:focus:not(:disabled):not(.disabled),
.box_shadow.active:not(:disabled):not(.disabled),
.box_shadow:active:not(:disabled):not(.disabled) {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}
.btn-border-white {
	border: 1px solid #bc8339;
	color: #ffffff;
}
.btn-border-white:hover,
.btn-border-white.active.focus, 
.btn-border-white.active:focus, 
.btn-border-white.active:hover, 
.btn-border-white:active:focus, 
.btn-border-white:active:hover, 
.btn-border-white.active, 
.btn-border-white:active, 
.btn-border-white.focus:active, 
.btn-border-white:focus, 
.btn.btn-border-white.active:not(:disabled):not(.disabled), 
.btn.btn-border-white:active:not(:disabled):not(.disabled) {
	background-color: #ffffff;
	background-image: none;
	color: #000000;
}
.btn-white,
button.btn-white {
	background: rgba(255,255,255,0.20);
	color: #fff;
}
.btn-white:hover,
.btn-white.active.focus, 
.btn-white.active:focus, 
.btn-white.active:hover, 
.btn-white:active:focus, 
.btn-white:active:hover, 
.btn-white.active, 
.btn-white:active, 
.btn-white.focus:active, 
.btn-white:focus, 
.btn.btn-white.active:not(:disabled):not(.disabled), 
.btn.btn-white:active:not(:disabled):not(.disabled) {
	background: rgba(255,255,255,0.20);
}
.scrollup {
	border-radius: 4px;
	bottom: 30px;
	color: #ffffff;
	display: none;
	font-size: 30px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	right: 20px;
	text-align: center;
	width: 40px;
	z-index: 99;
}
.btn + .btn:last-child {
	margin-left: 10px;
}
.angle_top {
	border-right: 100vw solid rgba(0, 0, 0, 0);
	border-top: 100px solid #ffffff;
	display: block;
	height: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 0;
	z-index: 1;
}
.angle_bottom {
	border-bottom: 100px solid #ffffff;
	border-left: 100vw solid rgba(0, 0, 0, 0);
	bottom: 0;
	display: block;
	height: 0;
	position: absolute;
	right: 0;
	width: 0;
	z-index: 9;
}

.bounceimg{
	-webkit-animation: bounceimg 1s ease-in-out 0s infinite alternate;
            animation: bounceimg 1s ease-in-out 0s infinite alternate;
}
@-webkit-keyframes bounceimg {
from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); 
}
to {
   -webkit-transform: translateY(-20px);
     transform: translateY(-20px); 
} 
}

@keyframes bounceimg {
from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); 
}
to {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); 
} 
}

.v_blue .btn-info ,
.v_navy_blue .btn-info {
	background-color: #0d469f;
}
.v_blue .btn-info:hover,
.v_blue .btn-info.active,
.v_blue .btn-info:focus,
.v_blue .btn-info.active:not(:disabled):not(.disabled),
.v_blue .btn-info:active:not(:disabled):not(.disabled),
.v_blue .btn-info.active:focus:not(:disabled):not(.disabled), 
.v_blue .btn-info:active:focus:not(:disabled):not(.disabled),
.v_navy_blue .btn-info:hover,
.v_navy_blue .btn-info.active,
.v_navy_blue .btn-info:focus,
.v_navy_blue .btn-info.active:not(:disabled):not(.disabled),
.v_navy_blue .btn-info:active:not(:disabled):not(.disabled),
.v_navy_blue .btn-info.active:focus:not(:disabled):not(.disabled), 
.v_navy_blue .btn-info:active:focus:not(:disabled):not(.disabled) {
	background-color: #0b267d;
}
.v_dark .btn-border::after {
	background-color: #0c0e27;
}
.v_dark .btn-info,
.v_light_dark .btn-info {
	background-color: #0c0e27;
}
.v_dark .btn-info:hover,
.v_dark .btn-info.active,
.v_dark .btn-info:focus,
.v_dark .btn-info.active:not(:disabled):not(.disabled),
.v_dark .btn-info:active:not(:disabled):not(.disabled),
.v_dark .btn-info.active:focus:not(:disabled):not(.disabled), 
.v_dark .btn-info:active:focus:not(:disabled):not(.disabled),
.v_light_dark .btn-info:hover,
.v_light_dark .btn-info.active,
.v_light_dark .btn-info:focus,
.v_light_dark .btn-info.active:not(:disabled):not(.disabled),
.v_light_dark .btn-info:active:not(:disabled):not(.disabled),
.v_light_dark .btn-info.active:focus:not(:disabled):not(.disabled), 
.v_light_dark .btn-info:active:focus:not(:disabled):not(.disabled) {
	background-color: #161d3e;
}
.v_navy_blue .btn-border::after {
	background-color: #052d85;
}
.bg_light .angle_top {
	border-top-color: #f7fafc;
}
.bg_light .angle_bottom {
	border-bottom-color: #f7fafc;
}
.v_light_purple .btn-border.btn-white-bg {
	color: #280e3b;
}
.v_light_purple .btn-border.btn-white-bg:hover,
.v_light_purple .btn-border.btn-white-bg:focus {
	color: #fff;
}
.v_light_purple .btn-white:hover,
.v_light_purple .btn-white.active.focus, 
.v_light_purple .btn-white.active:focus, 
.v_light_purple .btn-white.active:hover, 
.v_light_purple .btn-white:active:focus, 
.v_light_purple .btn-white:active:hover, 
.v_light_purple .btn-white.active, 
.v_light_purple .btn-white:active, 
.v_light_purple .btn-white.focus:active, 
.v_light_purple .btn-white:focus, 
.v_light_purple .btn.btn-white.active:not(:disabled):not(.disabled), 
.v_light_purple .btn.btn-white:active:not(:disabled):not(.disabled) {
	background: rgba(255,255,255,0.20);
	color: #00fdfa;
}
/* BTN END */
/*===================================*
  01.END GENERAL STYLE
*===================================*/

/*===================================*
02. HEADER DESIGN
*===================================*/
header {
	height: 110px;
	padding: 25px 50px;
	transition: all 0.4s ease 0s;
}
.hb_box_shadow {
	box-shadow: 0 0 1px rgba(255,255,255,0.3);
}
.navbar {
	padding: 0;
}
.navbar-brand {
	margin: 0;
	padding: 0;
}
.modal-open header.fixed-top {
	padding: 5px 0 !important;
}
.nav-fixed,
header.active,
.spop {
	/*background-color: #4241b8;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);*/
	background: #000;
    padding: 10px 0;
    border-bottom:1px solid #633800;
    box-shadow: 0 1px 15px #67450c;
}
header.nav-fixed {
	height: 100px;
	padding: 0px 0;
}
.nav-fixed .navbar-brand img {
	max-width: 135px;
}
header.no-sticky {
	left: 0;
	position: absolute;
	right: 0;
}
header .navbar-nav a {
	color: #ffffff;
}
.navbar-expand-lg .navbar-nav > li {
	padding: 0 12px;
}
.navbar-expand-lg .navbar-nav > li:last-child {
	padding-right: 0;
}
header a:hover,
.navbar-nav li a.active,
.navbar-nav .dropdown-menu li.active a {
	color: #ff69c9;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding: 15px 0;
	font-weight:500;
	position:relative;
	text-transform:uppercase;
}
.navbar-expand-lg .navbar-nav .nav-link.nav_icon {
    background-color: rgba(255,255,255,0.2);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    line-height: 32px;
    padding: 0;
    text-align: center;
    margin: 15px 0;
}
.navbar-expand-lg .navbar-nav > li > .nav-link.active:before {
	background-color: #ff69c9;
	bottom: 10px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
}
.navbar-expand-lg .nav_btn > li {
	margin-left: 15px;
	padding: 0;
}
.navbar-expand-lg .nav_btn > li:first-child {
	margin: 0;
}
.navbar-expand-lg .navbar-nav.nav_btn a {
	border:0;
	height: auto;
	line-height: normal;
}
.navbar-expand-lg .navbar-nav.nav_btn a.btn {
	padding: 5px 25px;
}
.dropdown-toggle::after,.dropdown-toggler::after {
	border: 0 none;
	content: "ï";
	font-family: ionicons;
	height: auto;
	line-height: normal;
	margin-left: 5px;
	vertical-align: middle;
	width: auto;
}
.navbar-nav .dropdown-menu {
	background-color: #4241b8;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0px;
}
.dropdown-item:focus, 
.dropdown-item:hover {
	background-color: rgba(0, 0, 0, 0);
	color: #ff69c9;
	padding: 10px;
}
.navbar-expand-lg .navbar-nav li {
	position:relative;
}
.navbar-expand-lg .navbar-nav .dropdown-item {
	color: #ffffff;
	font-size:14px;
	font-weight:500;
	padding: 3px 10px;
	text-transform:capitalize;
}
.navbar-expand-lg .navbar-nav .dropdown-item:hover {
	color:#ff69c9;
}
.navbar-expand-lg .navbar-nav .dropdown-item.active,
.navbar-expand-lg .navbar-nav .dropdown.show > a {
	background-color: transparent;
	color:#ff69c9;
}
.lng_dropdown .dd.ddcommon {
	cursor:pointer;
	padding-right: 10px;
	position: relative;
	width: 70px !important;
}
.arrow::before {
	color: #ffffff;
	content: "ï";
	font-family: ionicons;
	position: absolute;
	right: 0;
	top: 0;
}
.lng_dropdown .divider {
	display: none;
}
.lng_dropdown .ddTitleText img,
.lng_dropdown .ddChild li img {
	border-radius: 100%;
	display: inline-block;
	height: 20px;
	width: 20px;
}
.lng_dropdown .ddTitleText {
	cursor: pointer;
}
.lng_dropdown .ddlabel {
	color: #ffffff;
	display: inline-block;
	margin-left: 8px;
	vertical-align: middle;
}
.lng_dropdown .border {
	border: 0 none !important;
}
.lng_dropdown .ddChild {
	background-color: #4241b8;
	left: -9px;
	margin-top: 0;
	padding: 5px 9px;
	top: 100% !important;
}
.lng_dropdown .ddChild li {
	cursor:pointer;
	line-height: normal;
	list-style: outside none none;
	padding: 2px 0;
}
.logo_dark {
	display:none;
}

.v_blue .nav-fixed, 
.v_blue header.active,
.v_blue .navbar-nav .dropdown-menu,
.v_blue .lng_dropdown .ddChild,
.v_blue .spop,
.v_navy_blue .nav-fixed, 
.v_navy_blue header.active,
.v_navy_blue .navbar-nav .dropdown-menu,
.v_navy_blue .lng_dropdown .ddChild,
.v_navy_blue .spop {
	background-color: #121a6d;
}
.v_dark .nav-fixed, 
.v_dark header.active,
.v_dark .navbar-nav .dropdown-menu,
.v_dark .lng_dropdown .ddChild,
.v_dark .spop,
.v_light_dark .nav-fixed, 
.v_light_dark header.active,
.v_light_dark .navbar-nav .dropdown-menu,
.v_light_dark .lng_dropdown .ddChild,
.v_light_dark .spop {
	background-color: #262d4e;
}
.v_blue_light .nav-fixed, 

.v_light_purple .nav-fixed, 
.v_light_purple header.active,
.v_light_purple .navbar-nav .dropdown-menu,
.v_light_purple .lng_dropdown .ddChild,
.v_light_purple .spop {
	background-color: #3e1084;
}
.v_cyan_blue .nav-fixed, 
.v_cyan_blue header.active,
.v_cyan_blue .navbar-nav .dropdown-menu,
.v_cyan_blue .lng_dropdown .ddChild {
	background-color: #193d85;
}
.v_light_purple header {
    padding: 10px 0;
	height: auto;
}
/*===================================*
02. END HEADER DESIGN
*===================================*/

/*===================================*
03. BANNER SECTION
*===================================*/
.banner_effect {
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.transparent_effect {
	height: 100%;
	opacity: 0.4;
	position: absolute;
	top: 0;
}
.transparent_effect.fixed {
	position: fixed;
	z-index:1;
}
.banner_rouded_bg {
	border-radius: 0 0 400px;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	-moz-transform: skewY(3deg);
	-webkit-transform: skewY(3deg);
	transform: skewY(3deg);
	transform-origin: right top 0;
	width: 100%;
	z-index: -1;
}
.section_banner {
	background-position: left bottom;
	background-size: cover;
	padding: 200px 0 100px;
	position: relative;
	overflow:hidden;
}
.banner_full_height {
	min-height: 100vh;
	height:100%;
}
.section_banner.banner_shape {
	padding-bottom: 200px;
}
.banner_bg1 {
	background-image:url('../images/banner_bg1.png');
}
.banner_text h1 {
	color: #ffffff;
	font-weight: bold;
	margin-bottom:25px;
	font-size: 35px;
}
.banner_text_s2 h1 {
	font-weight: normal;
	margin-bottom: 25px;
}
.banner_text h3 {
	color: #ffffff;
	font-weight: bold;
	margin-bottom:20px;
}
.banner_text p {
	color:#fff;
}
.banner_image_right {
	min-width: 690px;
}
.banner_image_left {
	left: -25%;
	min-width: 690px;
	position: relative;
}
.btn_group .btn {
	display: inline-block;
}
.social_icon {
	display: inline-block;
	vertical-align: middle;
}
.social_icon li {
	float:left;
	margin-right:10px;
}
.social_icon li a i {
	background-color: #ffffff;
	border-radius: 100%;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
}
.social_bg_tran li a i {
	background-color: rgba(255,255,255,0.10);
}
.banner_inner .alert {
	border: 0 none;
	border-radius: 5px 5px 0 0;
	display: table;
	font-weight:normal;
	margin: 0 auto;
	padding: 8px 25px 5px;
}
.alert-warning {
	background-color: #ffc66c;
	color: #000000;
}
.section_banner .tk_counter_inner {
	border:0;
}
.tk_counter_inner .progress, 
.tk_counter_inner .progress-bar {
	border-radius: 20px;
	color: #5957cd;
	font-size: 14px;
	text-align: right;
}
.tk_counter_inner .progress-bar {
	padding-right: 12px;
}
.tk_counter_inner .progress {
	background-color: transparent;
	border: 1px solid #fff;
	height: 23px;
	margin-bottom: 40px;
	margin-top: 50px;
	overflow: visible;
	position: relative;
}
.tk_counter_inner .progress-bar {
	background: #fff;
    font-weight: 600;
}
.token_box .progress-bar-success {
	background-color: #05B5FF;
}
.progress .progress_label {
	background-color: #000000;
	bottom: -6px;
	color: #ffffff;
	line-height: 1;
	position: absolute;
	top: -6px;
	width: 1px;
}
.progress .progress_label strong {
	font-size: 14px;
	font-weight: 600;
	left: 50%;
	margin-top: 5px;
	position: absolute;
	top: 100%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	transform: translateX(-50%);
	white-space: nowrap;
}
.progress_max_val {
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	padding: 0 5px;
	position: absolute;
	right: 0;
	top: -30px;
}
.progress_min_val {
	color: #ffffff;
	font-size: 14px;
	font-weight: 600;
	padding: 0 5px;
	position: absolute;
	left: 0;
	top: -30px;
}
.icon_list li {
	line-height: normal;
	padding: 0 5px;
}
.icon_list li i {
	color: #ffffff;
	font-size: 20px;
}
.bg-white .tk_countdown_time {
	background-color: #ffffff;
	border: 1px solid #5857ee;
	border-radius: 5px;
	box-shadow: none;
}
.bg-white .progress-bar {
	background: #5957cd;
}
.bg-white .progress {
	border-color: #5957cd;
}
.bg-white .tk_counter,
.bg-white .progress_min_val,
.bg-white .progress_max_val,
.bg-white .progress .progress_label {
	color:#5957cd;
}
.bg-white .progress, 
.bg-white .progress-bar {
	color:#fff;
}
.bg-white .tk_text {
	color:#7a7a7a;
}
.bg-white .icon_list li i {
	color: #7a79d7;
}
.banner_cl_logo {
	margin-top: 20px;
}
.tk_counter_inner .progress-bar.gradient {
	background: -webkit-linear-gradient(left, #ff67cb 0%,#ffcc67 99%);
	background: linear-gradient(to right, #ff67cb 0%,#ffcc67 99%);
}
.banner_rounded_bg {
	height: 561px;
	left: 50%;
	min-width: 561px;
	position: absolute;
	top: -20%;
	width: 561px;
	z-index: -1;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.banner_rounded_bg img{
	-webkit-animation: swing 100s infinite linear; 
	-moz-animation: swing 100s infinite linear;
	-o-animation: swing 100s infinite linear; 
	animation: swing 100s infinite linear;
}
.banner_img {
	text-align: right;
}
.banner_rounded_shape::before {
	background-color: rgba(8, 22, 139, 0.3);
	border-radius: 100%;
	content: "";
	height: 968px;
	left: -160px;
	opacity: 1;
	position: absolute;
	right: 0;
	top: -165px;
	transform: skew(-1deg);
	width: 1240px;
	z-index: 0;
}
.banner_rounded_shape::after {
	background-color: rgba(8, 22, 139, 0.3);
	border-radius: 100%;
	content: "";
	height: 968px;
	left: -200px;
	opacity: 1;
	position: absolute;
	right: 0;
	top: -205px;
	transform: skew(-1deg);
	width: 1240px;
	z-index: 0;
}
.banner_section {
	padding-bottom: 200px;
	padding-top: 120px;
}
.banner_wave {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	fill: #ffffff;
}
.banner-shape {
    position: absolute;
    top: 0;
    left: 0;
}
.banner_pattern {
    position: absolute;
    top: 150px;
    left: 50px;
}
.scrolldown {
    position: absolute;
    bottom: 20px;
    right: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
}
.scrolldown a {
	border: 1px solid #fff;
	border-radius: 100%;
	color: #fff;
	display: block;
	line-height: 50px;
	margin: 0 auto;
	font-size: 30px;
    height: 50px;
	width: 50px;
}
.vertical_social {
	background-color: #0E082C;
    position: fixed;
    left: 0px;
    top: 50%;
    padding: 10px 0px;
    text-align: center;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index:100;
}
.vertical_social li {
    padding: 3px 15px;
}
.vertical_social li a {
    color: #fff;
    display: block;
}
.vertical_social li a:hover {
	color: #ff69c9;
}
.bg-white-tran,
.tk_countdown.bg-white-tran {
    background-color: rgba(255,255,255,0.10);
}
.presale_status {
	padding: 20px 40px;
	border-left: 1px solid rgba(255,255,255,0.10)
}
.token_countdown {
	padding: 20px;
}
@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0)
    }
    50% {
        transform: translateX(-25%) translateZ(0)
    }
    100% {
        transform: translateX(-50%) translateZ(0)
    }
}
@keyframes move_wave_reverse {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	height: 100px;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 50% 100px;
	background-image: url('../images/wave.png');
	animation: move_wave_reverse 10s linear infinite;
	right: 0;
	left: auto;
}
.waveMiddle {
    background-size: 50% 100px;
	background-image: url('../images/wave.png');
    animation: move_wave 10s linear infinite;
}
.icon_title {
	display: block;
	font-weight: 600;
	margin-bottom: 10px;
	text-transform: capitalize;
}
.currency_icon li {
	display: inline-block;
	margin-right: 20px;
	color: #fff
}
.currency_icon li i {
	font-size: 20px;
	margin-right: 10px;
}
.banner_token {
    padding: 20px;
    border-radius: 10px 10px 0 0;
}
.token_col {
    width: 40%;
    padding: 0 15px;
}
.progress_col {
    width: 40%;
    padding: 0 15px;
}
.btn_col {
    width: 20%;
    padding: 0 15px;
}
.banner_partner_logo {
    padding: 30px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	margin-top: -50px;
}

.v_light_purple .tk_counter_inner .progress-bar {
	background-color: #461e74;
	color: #fff;
	font-weight: normal;
}
.v_cyan_blue .tk_counter_inner .progress-bar {
	color: #0c0e27;
	font-weight: 500;
}

/*===================================*
03. END BANNER SECTION
*===================================*/

/*===================================*
04. WHY CHOOSE SECTION
*===================================*/
.box_wrap {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-top: 30px;
	padding: 20px 15px;
	transition: all 0.5s ease 0s;
}
.radius_box {
	border-radius: 5px;
}
.box_wrap h4,
.work_inner h4 {
	color: #7a7a7a;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
	margin-top: 20px;
}
.box_wrap p {
	margin:0;
}
.ripple_effect_left_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 700px;
    height: 700px;
	overflow: hidden;
}
.ripple_effect_right_top {
	position: absolute;
    top: 0;
    right: 0;
    width: 700px;
    height: 700px;
	overflow: hidden;
}
.ripple_effect_right_top .circle_bg1 {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    right: -350px;
    top: -350px;
    left: auto;
    bottom: auto;
}
.circle_bg1 {
    border-radius: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    left: -350px;
    bottom: -350px;
}
.circle_bg1 span{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    height: 100%;
    width: 100%;
	-moz-transform: scale(0);
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-animation-name:ripple;
	-moz-animation-name:ripple;
	-o-animation-name:ripple;
	animation-name:ripple;
	-webkit-animation-duration:4s;
	-moz-animation-duration:4s;
	-o-animation-duration:4s;
	animation-duration:4s;
	-webkit-animation-delay:6s;
	-moz-animation-delay:6s;
	-o-animation-delay:6s;
	animation-delay:6s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear;
	-o-animation-timing-function:linear;
	animation-timing-function:linear;
	border:1px solid rgba(255,255,255,0.2);
}
.circle_bg1 span:nth-child(2) {
	-webkit-animation-delay:5s;
	-moz-animation-delay:5s;
	-o-animation-delay:5s;
	animation-delay:5s;
}
.circle_bg1 span:nth-child(3) {
	-webkit-animation-delay:4s;
	-moz-animation-delay:4s;
	-o-animation-delay:4s;
	animation-delay:4s;
}
.circle_bg1 span:nth-child(4) {
	-webkit-animation-delay:3s;
	-moz-animation-delay:3s;
	-o-animation-delay:3s;
	animation-delay:3s;
}
.circle_bg1 span:nth-child(5) {
	-webkit-animation-delay:2s;
	-moz-animation-delay:2s;
	-o-animation-delay:2s;
	animation-delay:2s;
}
.circle_bg1 span:nth-child(6) {
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	-o-animation-delay:1s;
	animation-delay:1s;
}

@-webkit-keyframes ripple{
  0% {-webkit-transform:scale(0.1);transform:scale(.01); opacity:1;}
  50% {-webkit-transform:scale(.5);transform:scale(.5); opacity:1;}
  100% {-webkit-transform:scale(1);transform:scale(1); opacity:0;}
}
@-moz-keyframes ripple {
  0% {-moz-transform:scale(0.1);transform:scale(.01); opacity:1;}
  50% {-moz-transform:scale(.5);transform:scale(.5); opacity:1;}
  100% {-moz-transform:scale(1);transform:scale(1); opacity:0;}
}
@-o-keyframes ripple {
  0% {-o-transform:scale(0.1);transform:scale(.01); opacity:1;}
  50% {-o-transform:scale(.5);transform:scale(.5); opacity:1;}
  100% {-o-transform:scale(1);transform:scale(1); opacity:0;}
}
@keyframes ripple{
  0% {transform:scale(0.1);transform:scale(0.1); opacity:1;}
  50% {transform:scale(.5);transform:scale(.5); opacity:1;}
  100% {transform:scale(1);transform:scale(1); opacity:0;}
}

.circle_bg1 span::before {
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 100%;
	content: "";
	height: 15px;
	position: absolute;
	width: 15px;
}
.circle_bg1 span:first-child:before {
	right: 10px;
	top: 230px;
}
.circle_bg1 span:nth-child(2):before {
	right: 100px;
	top: 89px;
}
.circle_bg1 span:nth-child(3):before {
	right: 240px;
	top: 7px;
}
.circle_bg1 span:nth-child(4):before {
	right: 100px;
	top: 89px;
}
.ripple_effect_right_top .circle_bg1 span:first-child:before {
	left: 8px;
	bottom: 236px;
	top: auto;
}
.ripple_effect_right_top .circle_bg1 span:nth-child(2):before {
	left: 100px;
	bottom: 89px;
	top: auto;
}
.ripple_effect_right_top .circle_bg1 span:nth-child(3):before {
	left: 240px;
	bottom: 7px;
	top:auto;
}
.ripple_effect_right_top .circle_bg1 span:nth-child(4):before {
	left: 100px;
	bottom: 89px;
	top: auto;
}
.circle_bg1.circle_bg_color1 span::before {
	background-color: #21d397;
}
.box_wrapper {
    padding: 20px 15px;
    position: relative;
	margin-top: 20px;
	transition: all 0.5s ease-in-out;
}
.icon_box {
	float: left;
	margin-right: 20px;
}
.box_desc {
	overflow: hidden;
}
.box_desc h4 {
	font-size: 18px;
	font-weight: 600;
}
.box_desc p {
	margin: 0;
}
.box_wrapper:hover {
    background-color: #fff;
}
.box_wrapper:before {
	border-right: 1px solid #5957cd;
    border-top: 1px solid #5957cd;
    content: "";
    height: 0px;
    position: absolute;
    right: 0;
	opacity: 0;
    top: 0;
    width: 0px;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
.box_wrapper:after {
	bottom: 0;
	border-left: 1px solid #5957cd;
    border-bottom: 1px solid #5957cd;
    content: "";
	height: 0px;
	left: 0;
	opacity: 0;
    position: absolute;
    width: 0px;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}
.box_wrapper:hover:before,
.box_wrapper:hover:after {
	height: 40px;
	opacity: 1;
	width: 40px;
	visibility: visible;
}
.presale_txt mark {
	border-radius: 4px;
	color: #fff;
	padding: 0 8px;
}

.v_blue_pro .box_wrap {
	background-color: #4a49bf;
}
.v_blue_pro .box_wrap h4,
.v_blue_pro .box_wrap p,
.v_dark .box_wrap h4,
.v_dark .box_wrap p,
.v_royal_blue .box_wrap h4,
.v_royal_blue .box_wrap p,
.v_navy_blue .box_wrap h4,
.v_navy_blue .box_wrap p  {
	color: #ffffff;
}
.v_dark .box_wrap {
	background-color: #121833;
}
.v_light_purple .box_desc h4 {
	color: #6000b5
}
.v_light_purple .box_wrapper:hover:before,
.v_light_purple .box_wrapper:hover:after {
	border-color: #6000b5
}
	
/*===================================*
04. END WHY CHOOSE SECTION
*===================================*/

/*===================================*
05. ABOUT SECTION
*===================================*/
.about_section {
	padding: 100px 50px 100px 80px;
}
.about_shape::before {
	background-color: #5957cd;
	border-radius: 0 150px 150px 0;
	bottom: 0;
	content: "";
	left: 25px;
	position: absolute;
	right: -15px;
	top: 0;
	z-index: -1;
}
.about_img img {
	margin: 0 auto;
}
.about_img_shape::before {
	background-color: #ffffff;
	border-radius: 150px 0 0 150px;
	bottom: 0;
	content: "";
	left: 0;
	margin-left: -15px;
	margin-right: -25px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
.about_shape .btn-primary {
	color: #fff;
}
.about_shape .btn-primary:hover,
.about_shape .btn-primary.active.focus, 
.about_shape .btn-primary.active:focus, 
.about_shape .btn-primary.active:hover, 
.about_shape .btn-primary:active:focus, 
.about_shape .btn-primary:active:hover,
.about_shape .btn-primary.active,
.about_shape .btn-primary:active,
.about_shape .btn-primary.focus:active, 
.about_shape .btn-primary:focus,
.about_shape .btn-primary.active:focus:not(:disabled):not(.disabled), 
.about_shape .btn-primary:active:focus:not(:disabled):not(.disabled),
.about_shape .btn-primary.active:not(:disabled):not(.disabled), 
.about_shape .btn-primary:active:not(:disabled):not(.disabled) {
	color: #fff;
}
.about_shape .btn span::after,
.btn.text-white span::after {
	border-color: #fff;
}
.highlight_txt {
	color: #5957cd;
	font-weight:500;
    margin-bottom: 20px;
}
.v_light_purple .highlight_txt,
.text-purple,
.text-purple.btn-primary:hover,
.text-purple.btn-primary.active.focus, 
.text-purple.btn-primary.active:focus, 
.text-purple.btn-primary.active:hover, 
.text-purple.btn-primary:active:focus, 
.text-purple.btn-primary:active:hover,
.text-purple.btn-primary.active,
.text-purple.btn-primary:active,
.text-purple.btn-primary.focus:active, 
.text-purple.btn-primary:focus,
.text-purple.btn-primary.active:focus:not(:disabled):not(.disabled), 
.text-purple.btn-primary:active:focus:not(:disabled):not(.disabled),
.text-purple.btn-primary.active:not(:disabled):not(.disabled), 
.text-purple.btn-primary:active:not(:disabled):not(.disabled) {
	color: #6000b5;
}
.btn.text-purple span::after {
	border-color: #6000b5;
}
.btn.text-purple span {
	background-color: #6000b5;
}

/*About Us 2*/
.about_shape_bg {
	background-image: url("../images/about_bg.png");
	background-position: center top;
	background-repeat: no-repeat;
}
.work_icon {
	float: left;
	margin-right: 15px;
}
.work_icon i {
	color: #5957cd;
	font-size: 30px;
}
.work_inner {
	overflow: hidden;
}
.work_inner h4 {
	margin-top:0;
}
.work_inner p {
	margin: 0;
}
.rounded_shape::before {
	background-image: url("../images/rounded_shape.png");
	content: "";
	height: 644px;
	left: 0;
	position: absolute;
	top: 60%;
	width: 289px;
	z-index: 2;
}
.video_wrap img {
	border-radius: 10px;
}
.video_wrap::before {
	border: 3px solid #ff67cb;
	border-radius: 10px;
	bottom: 30px;
	content: "";
	left: -30px;
	position: absolute;
	right: -30px;
	top: -30px;
	z-index: -1;
}
.video_wrap {
	position: relative;
}
.bg_navy_blue.video_bg {
	bottom: 0;
	height: 150px;
	left: 0;
	position: absolute;
	right: 0;
	width: 100%;
}
.video_text {
	left: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.video_text a {
	color: #ffffff;
	display: inline-block;
}
.video_text span {
	display: block;
	font-size: 24px;
	font-weight: bold;
	padding-top: 30px;
}
.video_text i {
	border-radius: 100%;
	color: #ffffff;
	display: inline-block;
	font-size: 50px;
	height: 85px;
	line-height: 90px;
	padding-left: 6px;
	width: 85px;
}

.v_blue .work_icon i,
.v_blue .work_inner h4,
.v_blue .work_inner p,
.v_light_dark .work_icon i,
.v_light_dark .work_inner h4,
.v_light_dark .work_inner p {
	color: #ffffff;
}
.about_logo_icon {
	background-color: #ffffff;
	border: 3px solid #0043bb;
	border-radius: 100%;
	/*display: table;*/
	height: 65px;
	left: 0;
	line-height: 58px;
	margin: 0 auto;
	padding-right: 2px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 65px;
}
/*===================================*
05. END ABOUT SECTION
*===================================*/




/*===================================*
08. MOBILE APP SECTION
*===================================*/
.mobile_app {
	text-align: right;
}
.mobile_shape {
	background-image:url('../images/mobile_shape_bg.png');
	background-repeat:no-repeat;
	background-position: center right;
}
.app_list li {
	margin-bottom: 40px;
}
.mobileapp_icon {
	border-radius: 100%;
	float: left;
	height: 68px;
	padding: 15px 0;
	text-align: center;
	vertical-align: middle;
	width: 68px;
}
.mobileapp_icon i {
	color:#fff;
	font-size:36px;
}
.mobileapp_desc {
	overflow: hidden;
	padding-left: 20px;
}
.mobileapp_desc h5 {
	font-size: 18px;
	color: #fff;
}
.mobileapp_desc p {
	font-size: 14px;
	color: #fff;
	margin: 0;
}
.app_content li {
	margin-bottom: 20px;
}
.app_content li:last-child {
	margin-bottom: 0px;
}
.app_icon {
	float: left;
	margin-right: 30px;
}
.app_desc {
	overflow: hidden;
}
.app_desc h6 {
	font-size: 18px;
	font-weight: 600;
}
.app_desc h6,
.app_desc p {
	color: #ffffff;
}
.app_desc p {
	font-size: 14px;
}
.app_right_content .app_icon {
	float: right;
	margin-left: 30px;
	margin-right: 0;
}
.app_right_content .app_desc {
	text-align: right;
}
.list_dash {
	margin-bottom: 30px;
}
.list_dash li {
	list-style: outside none none;
	padding-left: 15px;
	position:relative;
}
.list_dash li::before {
	background-color: #7a7a7a;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	top: 14px;
	width: 7px;
}
.list_white li {
	color: #fff;
}
.list_white li::before {
	background-color: #fff;
}
.v_light_purple .app_desc h6 {
	color: #6000b5;
	margin-bottom: 3px;
}
.v_light_purple .app_desc p {
	color: #7a7a7a;
}
/*===================================*
08. END MOBILE APP SECTION
*===================================*/


/*===================================*
14. ABOUT US PAGE
*===================================*/
.section_breadcrumb {
	padding: 200px 0 100px;
}
.breadcrumb li a, 
.breadcrumb li span {
	color: #ffffff;
	text-transform: capitalize;
}
.breadcrumb li a:hover {
	color: #ff69c9;
}
.breadcrumb li::before {
	color: #ffffff;
	content: "/";
	margin: 5px;
}
.breadcrumb li:first-child:before {
	content: normal;
}
.counter_wrap.overlay::before {
	background-color: rgba(89, 87, 205, 0.9);
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.counter_bg {
	background-image:url('../images/counter_bg-2.html');
}
.box_counter i, 
.box_counter .counter, 
.box_counter p {
	color: #ffffff;
}
.box_counter i {
	font-size: 60px;
}
.box_counter .counter {
	font-size:40px;
	font-weight: 600;
	margin-top:20px;
}
.box_counter p {
	margin:0;
}
.testimonial_wrap {
	background-color: #f7f7f7;
	display: inline-block;
	padding: 20px;
	width: 100%;
}
.testimonial_wrap img {
	float: left;
	height: 146px;
	margin-right: 20px;
	max-width: 146px;
}
.rounded_img img {
	border-radius: 100%;
}
.testimonial_wrap h5 {
	color: #333333;
	margin: 0;
}
.testimonial_wrap span {
	color: #333333;
	font-size:14px; 
	margin-bottom:10px;
}
.testimonial_wrap p {
	font-size:14px;
	margin: 0;
	overflow: hidden;
}
.action-content h3 {
	color: #ffffff;
	font-size: 26px;
}
.action-content p {
	color: #ffffff;
}
/*===================================*
14. END ABOUT US PAGE
*===================================*/

/*===================================*
15. SERVICES PAGE
*===================================*/
.rounded_border_icon::before {
	background-color: rgba(89, 87, 205, 0.5);
	border-radius: 100%;
	bottom: 0;
	content: "";
	left: 0;
	margin: -5px;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}
.rounded_border_icon::after {
	background-color: rgba(89, 87, 205, 0.5);
	border-radius: 100%;
	bottom: 0;
	content: "";
	left: 0;
	margin: 0px;
	position: absolute;
	right: 0;
	top: 0;
	transition: all 0.8s ease 0s;
	z-index: -1;
}
.box_wrap:hover .rounded_border_icon::after { 
	margin: -20px;
	opacity: 0;
}
.rounded_border_icon {
	border-radius: 100%;
	display: inline-block;
	padding: 15px;
	position: relative;
}
.video.play_btn {
	background-color: #5957cd;
	border: 4px solid #ffffff;
	border-radius: 100%;
	height: 74px;
	left: 50%;
	padding: 22px 0 22px 5px;
	position: absolute;
	top: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	vertical-align: middle;
	width: 74px;
}
.play_btn::before {
	 -webkit-animation: rounded 2.5s infinite ;
	-moz-animation: rounded 2.5s infinite ;
	-o-animation: rounded 2.5s infinite ;

	animation: rounded 2.5s infinite ;
	border: 2px solid #ffffff;
	border-radius: 100%;
	bottom: -10px;
	content: "";
	display: block;
	left: -10px;
	opacity: 0;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index:-1;
}
.play_btn::before {
	animation-delay: 0.8s
}
@keyframes rounded {
0%
{
	opacity:0;
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}
50%
{
	opacity:1;
}
100%
{
	opacity:0;
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
}

.play_icon {
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff;
	border-style: solid;
	border-width: 10px 0 10px 15px;
	display: block;
	height: 0;
	margin: 0 auto;
	width: 0;
}
/*===================================*
15. END SERVICES PAGE
*===================================*/